.level-item__pictures-wrapper {
    box-sizing: border-box;
    width: 700px;
    padding: 0 15%;
    position: absolute;
    top: 10%;
    display: flex;
    justify-content: space-evenly;
}

.level-item__picture {
    width: 100px;
    height: auto;
    position: relative;
    z-index: 20;
    transform: perspective(300px) rotateX(50deg);
    box-shadow: 0px 8px 0px rgba(0, 0, 0, .1);
}

.level-item__picture:hover,
.level-item__picture.highlighted {
    box-shadow: 0 0 15px 15px white;
}

.level-item__picture-wrapper {
    position: relative;
}

.level-item__picture-wrapper::before {
    position: absolute;
    content: "";
    z-index: 21;
    background-color: white;
    border-bottom: 2px solid gray;
    color: rgb(102, 102, 102);
    padding: 5px;
    top: -12px;
    left: 50%;
    width: 150px;
    opacity: 0;
    transition: opacity 0.3s;
}

.level-item__picture-wrapper:hover::before,
.level-item__picture-wrapper.highlighted::before {
    opacity: 1;
}

.level-item_active .level-item__picture {
    animation: strobe;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.level-item_active-win {
    transform: translateY(-600px);
    transition: transform 0.3s ease-in-out;
}

.level-item_active-lose {
    animation: shake;
    animation-duration: 0.1s;
    animation-iteration-count: 5;
}

.level-item__plate-wrapper::before {
    content: '<plate></plate>'
}

.plate-picture {
    border-radius: 50px;
}

.table-tag__content:hover,
.table-tag__content.highlighted {
    color: white;
}

@keyframes shake {
    from {
        transform: translateX(10px)
    }

    to {
        transform: translateX(-10px);
    }
}

@keyframes skweeze {
    0% {
        transform: skewY(10deg)
    }

    50% {
        transform: skewY(-10deg)
    }

    100% {
        transform: skewY(10deg)
    }
}

@keyframes strobe {
    0% {
        transform: skewY(4deg) scaleX(1)
    }

    10% {
        transform: skewY(1deg) scaleY(0.9)
    }

    50% {
        transform: skewY(-4deg) scaleX(1)
    }

    60% {
        transform: skewY(-1deg) scaleY(0.9)
    }

    100% {
        transform: skewY(4deg) scaleX(1)
    }
}