.level-item__pictures-wrapper {
    box-sizing: border-box;
    width: 700px;
    padding: 0 15%;
    position: absolute;
    top: 10%;
    display: flex;
    justify-content: space-evenly;
}

.level-item__pictures-wrapper-child {
    z-index: 4;
}

.level-item__picture {
    width: 100px;
    height: auto;
    transform: perspective(300px) rotateX(50deg);
    box-shadow: 0px 8px 0px rgba(0, 0, 0, .1);
}

.level-item__picture:hover,
.level-item__picture.highlighted {
    box-shadow: 0 0 15px 15px white;
}

.level-item__picture-wrapper {
    position: relative;
}

.level-item__picture-wrapper::before {
    position: absolute;
    content: "";
    background-color: white;
    border-bottom: 2px solid gray;
    color: rgb(102, 102, 102);
    padding: 5px;
    top: -12px;
    left: 50%;
    width: 150px;
    opacity: 0;
    transition: opacity 0.3s;
}

.level-item__picture-wrapper:hover::before {
    opacity: 1;
}

.level-item__plate-wrapper::before {
    content: '<plate></plate>'
}

.plate-picture {
    border-radius: 50px;
}

.table-tag__content:hover,
.table-tag__content.highlighted {
    color: white;
}

@font-face {
    font-family: 'Menlo';
    src: url("./assets/fonts/Menlo-Regular.ttf");
}

/* 
.table-tag__content_child {
    top: 35px;
    27
position: absolute;
z-index: 80;
}

*/