:root {
    --main-background-color: rgb(46, 42, 35);
    --secondary-background-color: rgb(27, 24, 19);
    --numbering-color: rgb(207, 209, 205);
    --main-editor-background-color: #FFFFFF;
    --secondary-editor-background-color: rgba(255, 255, 255, .3);
    --css-editor-additional-color: rgb(125, 116, 116);
    --main-viewer-background-color: rgb(0, 0, 0, 0.3);
    --editor-text-color: #999;
    --enter-button-hover-color: rgb(155, 155, 155);
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--main-background-color);
    color: var(--secondary-editor-background-color);
    font-family: Menlo, monospace;
    display: grid;
    grid-template-areas: "header header header header aside aside aside"
        "main main main main aside aside aside"
        "footer footer footer footer aside aside aside";
}

.header {
    margin: 16px 16px 0;
    width: 90%;
    grid-area: header;
    display: flex;
    justify-content: space-between;
}

.burger {
    display: none;
}

.header-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    text-decoration: none;
}

.header-link:hover {
    cursor: pointer;
}

.header-link:active .header__logo-text {
    color: var(--main-editor-background-color);
}

.header__logo-icon {
    margin: 0;
    width: 20px;
    height: auto;
}

.header__logo-text {
    color: var(--secondary-editor-background-color);
}

.main {
    margin: 0 2vw 0 0;
    padding-left: 40px;
    grid-area: main;
    display: flex;
    flex-direction: column;
}

.main__header {
    margin: 20px auto;
    text-align: center;
    /* font-size: 3rem; */
}

.view-section {
    margin: 10px;
    width: 1080px;
    height: 340px;
    border-radius: 15px;
    background-color: var(--secondary-background-color);
    position: relative;
}


.table__wrapper {
    margin: 100px auto 0;
    width: 700px;
    position: relative;
}

.table {
    margin: 0 auto 0;
    width: 500px;
    height: 128px;
    z-index: 15;
    background: orange;
    transform: perspective(400px) rotateX(50deg);
}

.table__side-view {
    position: absolute;
    left: 9.7%;
    bottom: 5.2%;
    z-index: 10;
    background-color: rgb(255, 123, 0);
    width: 564px;
    height: 13px;
    transform: perspective(400px) rotateX(-50deg);
}

.table__table-leg {
    position: absolute;
    width: 20px;
    height: 7px;
    background-color: rgb(120, 67, 18);
    bottom: 2%;
}

.table-left-leg {
    transform: skewX(30deg);
    left: 15%;
}

.table-right-leg {
    transform: skewX(-30deg);
    right: 15%;
}

.code-editor {
    margin-top: 20px;
    padding: 10px;
    width: 1080px;
    height: 440px;
    border-radius: 15px;
    background-color: var(--secondary-background-color);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.code-editor__headers-wrapper {
    padding: 0;
    margin: 0;
    width: 1080px;
    display: flex;
    justify-content: center;
}

.code-editor__window-header {
    padding: 10px;
    width: 532px;
    height: 30px;
    box-sizing: border-box;
    background-color: var(--main-background-color);
    display: flex;
    justify-content: space-between;
}

.css-editor {
    background-color: var(--main-editor-background-color);
    color: var(--editor-text-color);
    display: flex;
}

.windows-wrapper {
    display: flex;
}

.line-numbering-wrapper {
    padding: 0;
    margin: 0;
    width: 30px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.line-numbering {
    width: 23px;
    color: var(--secondary-editor-background-color);
    text-align: center;
}

.header-name,
.header-filename {
    margin: 0;
}

.css-editor__header {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.css-editor__header-name {
    font-size: 0.8rem;
    color: var(--numbering-color);
}

.css-editor__header-filename {
    font-size: 0.8rem;
}

.css-editor__line-numbering-wrapper {
    border: 1px solid var(--css-editor-additional-color);
    background-color: var(--numbering-color);
}

.css-editor__line-numbering {
    color: var(--css-editor-additional-color);
}

.css-editor__enter-area {
    box-sizing: border-box;
    padding: 16px;
    width: 500px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.input-area__wrapper {
    display: flex;
    justify-content: space-between;
}

.css-editor__input {
    font-family: Menlo, monospace;
    width: 350px;
    height: 16px;
    outline: none;
    border: none;
}

.app__button {
    width: 55px;
    height: 25px;
    text-align: center;
    color: var(--css-editor-additional-color);
    font-family: Menlo, monospace;
    background-color: var(--numbering-color);
    border: 1px solid var(--css-editor-additional-color);
    border-radius: 5px;
    box-shadow: 0 8px var(--css-editor-additional-color);
}

.app__button:hover {
    margin-top: 2px;
    cursor: pointer;
    box-shadow: 0 6px var(--css-editor-additional-color);
    transition: 0.1s;
}

.app__button:active {
    margin-top: 7px;
    background-color: var(--enter-button-hover-color);
    box-shadow: 0 1px var(--secondary-editor-background-color);
}

.help-button {
    margin: 15px 0;
    align-self: center;
}

.help-button:hover {
    margin: 17px 0 13px;
}

.help-button:active {
    margin: 22px 0 8px;
}

.enter-area__text {
    margin: 0;
    height: 330px;
}

.html-viewer {
    display: flex;
    background-color: var(--secondary-background-color);
    /* box-sizing: border-box; */
}

.html-viewer__header {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.html-viewer__header-name {
    font-size: 0.8rem;
    color: var(--numbering-color);
}

.html-viewer__header-filename {
    font-size: 0.8rem;
}

.html-viewer__line-numbering-wrapper {
    background-color: var(--secondary-background-color);
    border: 1px solid var(--secondary-editor-background-color);
}

.html-viewer__markup {
    box-sizing: border-box;
    padding: 16px;
    width: 500px;
    height: 400px;
    border: 1px solid var(--secondary-editor-background-color);
}

.table-tag,
.table-tag__open,
.table-tag__content,
.table-tag__close {
    margin: 0;
    cursor: default;
}

.table-tag {
    position: relative;
}

.levels__wrapper {
    padding: 0;
}

.levels-list {
    margin: 0;
    list-style: none;
    background-color: var(--secondary-background-color);
    grid-area: aside;
    display: flex;
    flex-direction: column;
}

.levels-list__header {
    margin: 30px 0;
    align-self: center;
}

.level-item {
    margin: 0;
    padding-left: 30px;
    display: flex;
    gap: 10px;
}

.level-item:hover,
.level_active {
    background-color: var(--main-background-color);
}

.level-item:hover {
    cursor: pointer;
}

.level-item:hover .level-item__header {
    color: var(--numbering-color);
}

.level-item__status-image {
    width: 20px;
    height: auto;
}

.level-item__status-image_completed {
    fill: lightgreen;
}

.reset-button {
    margin-top: 30px;
    width: 200px;
    height: 50px;
    background-color: inherit;
    color: var(--secondary-editor-background-color);
    border: 1px solid var(--secondary-editor-background-color);
    align-self: center;
}

.reset-button:hover {
    cursor: pointer;
    background-color: var(--main-background-color);
}

.footer {
    grid-area: footer;
    margin: 70px 0 50px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer__user-link {
    text-decoration: none;
    color: var(--secondary-editor-background-color);
}

.footer__user-link:hover {
    color: var(--main-editor-background-color);
}

.footer__course-image {
    width: 50px;
    height: auto;
}

@font-face {
    font-family: 'Menlo';
    src: url("./assets/fonts/Menlo-Regular.ttf");
}

@media(max-width: 1300px) {
    .view-section {
        width: 77vw;
    }

    .code-editor {
        width: calc(72vw + 46px);
    }

    .code-editor__headers-wrapper {
        width: calc(72vw + 46px);
    }

    .code-editor__window-header {
        width: calc(36vw + 23px);
    }

    .line-numbering-wrapper {
        margin: 0;
        width: 23px;
    }

    .css-editor__enter-area {
        width: 36vw;
    }

    .css-editor__input {
        width: 25vw;
    }

    .html-viewer__markup {
        max-width: 35vw;
    }
}

@media(max-width: 900px) {
    .table__wrapper {
        width: 466.667px;
    }

    .table {
        width: 333.333px;
        height: 85.333px;
    }

    .table__side-view {
        width: 360px;
        height: 8.667px;
        left: 11.5%;
        bottom: 6%;
    }

    .table__table-leg {
        width: 13.333px;
        height: 4.667px;
        bottom: 3%;
    }

    .html-viewer__markup {
        font-size: 0.8rem;
    }
}

@media(max-width: 768px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .body_locked {
        overflow: hidden;
    }

    .levels-list {
        width: 70vw;
        position: fixed;
        right: -70vw;
        top: 0;
        bottom: 0;
        z-index: 150;
        transition: right 0.3s;
        overflow-y: scroll;
    }

    .levels-list_active {
        right: 0;
    }

    .level-item {
        padding: 0 30px 0 0;
    }

    .levels__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .levels-list__header {
        margin: 20px 0 10px;
    }

    .reset-button {
        margin: 0;
    }

    .levels-list__overlay {
        display: none;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: 100;
    }

    .overlay_active {
        display: block;
    }

    .burger {
        display: block;
        width: 32px;
        height: 22px;
        position: relative;
        z-index: 200;
    }

    .burger:hover {
        cursor: pointer;
    }

    .burger_active {
        transform: rotate(90deg);
        transition: transform 0.3s;
    }

    .burger::before,
    .burger::after {
        content: '';
        width: 100%;
        height: 2px;
        background-color: var(--secondary-editor-background-color);
        position: absolute;
    }

    .burger__center {
        width: 100%;
        height: 2px;
        background-color: var(--secondary-editor-background-color);
        position: absolute;
        top: 10px;
    }

    .burger::before {
        top: 0;
    }

    .burger::after {
        bottom: 0;
    }

    .main {
        margin: 0 auto;
        padding: 0;
        align-items: center;
    }

    .main__header {
        font-size: 2rem;
    }

    .code-editor {
        width: calc(80vw + 46px);
        height: 320px;
    }

    .code-editor__headers-wrapper {
        width: calc(80vw + 46px);
        align-items: center;
    }

    .code-editor__window-header {
        width: calc(40vw + 23px);
    }

    /* .windows-wrapper {
        padding: 0;
        width: calc(80vw + 46px);
    } */

    .line-numbering-wrapper {
        margin: 0;
        width: 23px;
        height: 280px;
        font-size: 0.7rem;
    }

    .css-editor__enter-area {
        margin: 0;
        padding: 11px 5px;
        min-width: 39.6vw;
        height: 280px;
        font-size: 0.7rem;
    }

    .css-editor__input {
        width: 26vw;
        font-size: 0.7rem;
    }

    .html-viewer {
        padding: 0;
        width: calc(40vw + 23px);
    }

    .html-viewer__markup {
        margin: 0;
        height: 280px;
        padding: 11px 5px;
        min-width: 39.6vw;
        font-size: 0.7rem;
    }

    .enter-area__text {
        height: 218px;
    }
}

@media(max-width: 600px) {
    .view-section {
        height: 200px;
    }

    .table__wrapper {
        margin-top: 60px;
        width: 311.1px;
    }

    .table {
        width: 222.2px;
        height: 56.9px;
    }

    .table__side-view {
        width: 233.7px;
        height: 5.8px;
        left: 12.335%;
        bottom: 8%;
    }

    .table__table-leg {
        width: 9px;
        height: 3px;
        bottom: 6%;
    }

    .html-viewer__markup,
    .css-editor__input,
    .css-editor__enter-area {
        font-size: 0.6rem;
    }
}